{% extends "gallery/base.html" %}

{% load gallery_tags %}

{% block body %}
    <h1><a href="{% url 'home' %}">Homepage</a></h1>
    {% if vids %}
        {% for vid in vids %}
            <video controls width="250">
                <source src="{{ MEDIA_URL }}vids//{{ vid }}" alt="{{ vid }}">
            </video>
            {% if forloop.counter|divisibleby:4 %}
                <div class="clear"></div>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>No video.</p>
    {% endif %}
{% endblock body %}