{% extends "gallery/base.html" %}

{% load gallery_tags %}

{% block body %}
    <h1><a href="{% url 'home' %}">Homepage</a></h1>
    {% if imgs %}
        {% for img in imgs %}
            {% with img|split:"." as strs %}
                {% with strs|length as str_arr_len %}
                    {% with str_arr_len|add:"-1" as ext_idx %}
                        {% if strs|get_by_index:ext_idx == "jpg" %}
                            <a href="{{ MEDIA_URL }}imgs/{{ img }}">
                                <img src="{{ MEDIA_URL }}imgs/thumbs/{{ img }}" alt="{{ img }}">
                            </a>
                        {% endif %}
                    {% endwith %}
                {% endwith %}
            {% endwith %}
            {% if forloop.counter|divisibleby:4 %}
                <div class="clear"></div>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>No image.</p>
    {% endif %}
{% endblock body %}

{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function() {
            $(".gallery a").simpleLightbox();
        });
    </script>
{% endblock extra_js %}